* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.wrapper {
  display: grid;
  width: min(50rem, 100%);
  margin-inline: auto;
}

header h1,
p {
  text-align: center;
  padding-top: 2rem;
}
